.nav-item a{
	color: black;
}
#navcol-1{
	float: right;
	padding-bottom:15px; 
	padding-top:15px;
}
#navcol-1 a{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;

}
.navbar-brand{
	color: black;
}

.container-fluid{
  padding-top: 25px;
  padding-right: 30px;
  padding-left: 30px;

}
.container-fluid a {
font-size: 20px;
padding: 5px;
padding-left: 20px;
}


.cont-get{
	background-color: #0d81f0;
	padding: 60px;
}

.btn-get{
	background-color: orange;
	border-radius: 25px;
    padding: 6px 12px;
	color: white;
	border-style: none;
	width: 180px;
	margin-left: 50%;
	margin-top: 5%;
	height: 50px;
}
.text-build{
	text-align: left;
	color: white;
	font-size: 30px;
}

.footer-clean{
	background-color: #091d40;
color: white;
text-decoration: none;
}
a{
	color: white;
	text-decoration: none;
}

.form-inline{
text-align: center;
}
.form-control{
	float: left;
	border-radius: 16px 0 0 16px;
}
.btn-primary{
	float: right;
		border-radius: 0 16px 16px 0;
		height: 34px;
	background-color: orange;
		border-color: orange;

}
ul h3{
	text-align: inherit;
}

.row{
width: 100%;
margin-right: 0px;
margin-left: 0px;
padding-top: 50px;
}
li{
list-style-type: none;
}

.section{
	background-color: #f1f7fc;
	box-shadow: 0px 11px 8px 0 rgba(0.2, 0, 0, 0), inset 1px 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel-group{
		border-radius: 20px;
	 box-shadow: 0 4px 8px 0 rgba(0.2, 0, 0, 0),  0 6px 20px 0 rgba(0, 0, 0, 0.19);
	     margin-bottom: 50px;
    margin-top: 10px;
}

.panel-group .panel+.panel{
	margin: 0px;
}
.panel-default>.panel-heading{
	background-color: white;
	    padding-top: 20px;
    padding-bottom: 20px;
}
a.collapsed:after {
    content: "\2795"; 
    font-size: 13px;
    color: orange;
    float: right;
    margin-left: 5px;
}

a.collapsed.active:after {
    content: "\2796"; 
    
}

.nav>li>a:hover {
text-decoration:underline;
text-decoration-color: orange;
background-color: white;
}
.nav>li>a:focus{
	background-color: orange; 
	color: white; border-radius: 60px;
}

h2{
	font-weight: bold;
}

h1{
	font-weight: bold;
}